<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nueva departamento">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="departamento.CODDEPARTAMENTO" name="coddepartamento" #coddepartamento="ngModel" placeholder="Codigo departamento (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <p>
    <md-select placeholder="Sucursal ">
      <md-option *ngFor="let sucursal of sucursales" [value]="sucursal.CODSUCURSAL">
        {{sucursal.CODSUCURSAL}} || {{sucursal.DIRECCION}}, {{sucursal.CIUDAD}}, {{sucursal.DEPARTAMENTO}}, {{sucursal.PAIS}}
      </md-option>
    </md-select>

  </p>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="departamento.NOMBREDEPARTAMENTO" name="nombredepartamento" #nombredepartamento="ngModel" placeholder="Nombre del Departamento">
        </md-form-field>
      </td>
      <td>
          <md-form-field class="full-width">
            <input mdInput required [(ngModel)]="departamento.NUMPLAZAS" name="numeroplaza" #numeroplaza="ngModel" placeholder="Cantidad de Plazas">
          </md-form-field>
        </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearDepartamento(departamento)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarDepartamento()" ><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>
