<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nueva departamento">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="departamento.in_coddepartamento" name="in_coddepartamento" #in_coddepartamento="ngModel" placeholder="Codigo departamento (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <p>
    <md-form-field class="full-width">
      <input mdInput required [(ngModel)]="departamento.in_codsucursal" name="in_codsucursal" #in_codsucursal="ngModel" placeholder="Direccion"/>
    </md-form-field>
  </p>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="departamento.in_nombredepartamento" name="in_nombredepartamento" #in_nombredepartamento="ngModel" placeholder="Ciudad">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearDepartamento(departamento)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarDepartamento()" ><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>
