<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Agregar funciones plaza">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="funcionesPlaza.CODFUNCIONESPLAZA" name="codperfilplaza" #codperfilplaza="ngModel" placeholder="Código funciones plaza (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <p>
    <md-form-field class="full-width">
      <input mdInput required [(ngModel)]="funcionesPlaza.CODPERFILPLAZA" name="codperfilplaza" #codperfilplaza="ngModel" placeholder="Código perfil plaza"/>
    </md-form-field>
  </p>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="funcionesPlaza.NOMBREFUNCIONES" name="nombrefunciones" #nombrefunciones="ngModel" placeholder="Nombre función">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="funcionesPlaza.DESCRIPCIONFUNCIONES" name="descripcionfunciones" #descripcionfunciones="ngModel" placeholder="Descripción función">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearFuncionesPlaza(funcionesPlaza)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarFuncionesPlaza()" ><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>
