<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nuevo Descuento Automatico">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="descuentoAutomatico.NUMPRESTAMO" name="numprestamo" #numprestamo="ngModel" placeholder="Numero de prestamo">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="descuentoAutomatico.CODEMPLEADO" name="codempleado" #codempleado="ngModel" placeholder="Codigo empleado">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="descuentoAutomatico.TIPOPRESTAMO" name="tipoprestamo" #tipoprestamo="ngModel" placeholder="Nombre Catalogo Planilla">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="descuentoAutomatico.NUMCUENTA" name="numcuenta" #numcuenta="ngModel" placeholder="Nombre Catalogo Planilla">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="descuentoAutomatico.MONTOPRESTAMO" name="montoprestamo" #montoprestamo="ngModel" placeholder="Monto de prestamo">
          </md-form-field>
        </td>
      </tr>
    </table>
    <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <md-form-field class="full-width">
              <input mdInput [(ngModel)]="descuentoAutomatico.CUOTAPRESTAMO" name="cuotaprestamo" #cuotaprestamo="ngModel" placeholder="Cuota de prestamo">
            </md-form-field>
          </td>
          <td>
            <md-form-field class="full-width">
              <input mdInput [(ngModel)]="descuentoAutomatico.FECHAPAGO" name="fechapago" #fechapago="ngModel" placeholder="Cuota de prestamo">
            </md-form-field>
          </td>
        </tr>
      </table>
      <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <md-form-field class="full-width">
                <input mdInput [(ngModel)]="descuentoAutomatico.MONTOPRESTAMO" name="montoprestamo" #montoprestamo="ngModel" placeholder="Monto de prestamo">
              </md-form-field>
            </td>
          </tr>
        </table>
        <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <md-form-field class="full-width">
                  <input mdInput [(ngModel)]="descuentoAutomatico.CUOTAPRESTAMO" name="cuotaprestamo" #cuotaprestamo="ngModel" placeholder="Cuota de prestamo">
                </md-form-field>
              </td>
              <td>
                <md-form-field class="full-width">
                  <input mdInput [(ngModel)]="descuentoAutomatico.MODODESCUENTO" name="mododescuento" #mododescuento="ngModel" placeholder="Cuota de prestamo">
                </md-form-field>
              </td>
            </tr>
          </table>
    <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <md-form-field class="full-width">
              <input mdInput [(ngModel)]="descuentoAutomatico.ESTADOPRESTAMO" name="estadoprestamo" #estadoprestamo="ngModel" placeholder="Detalle planilla">
            </md-form-field>
          </td>
        </tr>
      </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearDescuentoAutomatico(descuentoAutomatico)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarDescuentoAutomatico()" ><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>
