<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nuevo Candidato">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="candidato.codcandidato" name="codcandidato" #codcandidato="ngModel" placeholder="Codigo candidato (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="candidato.codperfilplaza" name="codperfilplaza" #codperfilplaza="ngModel" placeholder="Codigo Perfil Plaza (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="candidato.codsucursal" name="codsucursal" #codsucursal="ngModel" placeholder="Codigo codsucursal (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="candidato.coddepartamento" name="coddepartamento" #coddepartamento="ngModel" placeholder="Codigo departamento (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="candidato.nombrecompleto" name="nombrecompleto" #nombrecompleto="ngModel" placeholder="Nombre Completo">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="candidato.documentoidentidad" name="documentoidentidad" #documentoidentidad="ngModel" placeholder="Documento identidad">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="candidato.tipodocumento" name="tipodocumento" #tipodocumento="ngModel" placeholder="Tipo de documento">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="candidato.telefonocandidato" name="telefonocandidato" #telefonocandidato="ngModel" placeholder="Telefono candidato">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput  [(ngModel)]="candidato.titulocandidato" name="titulocandidato" #titulocandidato="ngModel" placeholder="Titulo Candidato">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput  [(ngModel)]="candidato.correoelectronico" name="correoelectronico" #correoelectronico="ngModel" placeholder="Correo Electronico">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput  [(ngModel)]="candidato.fechadesolicitud" name="fechadesolicitud" #fechadesolicitud="ngModel" placeholder="fecha de solicitud">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput  [(ngModel)]="candidato.estadocandidato" name="estadocandidato" #estadocandidato="ngModel" placeholder="Estado Candidato">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearCandidato(candidato)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarCandidato()" ><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>
