<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nuevo Registro Agenda">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="agendaEmpleado.codempleado" name="codempleado" #codempleado="ngModel" placeholder="Codigo empleado (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="agendaEmpleado.tiporegistro" name="tiporegistro" #tiporegistro="ngModel" placeholder="Tipo de Registro">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="agendaEmpleado.fechahoraentrada" name="fechahoraentrada" #fechahoraentrada="ngModel" placeholder="fecha hora entrada">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="agendaEmpleado.fechahorasalida" name="fechahorasalida" #fechahorasalida="ngModel" placeholder="fecha hora salida">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput  [(ngModel)]="agendaEmpleado.observaciones" name="observaciones" #observaciones="ngModel" placeholder="observaciones">
        </md-form-field>
      </td>

    </tr>
  </table>


  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearAgendaEmpleado(agendaEmpleado)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarAgendaEmpleado()" ><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>
