<md-card>
  <form  (ngSubmit)="onSubmit()" #crearSucursalForm="ngForm">
    <md-card-title>Nueva Sucursal</md-card-title>
    <md-card-subtitle>Crear Sucursal</md-card-subtitle>
    <md-card-content>
      <md-input-container>
        <input mdInput type="text" placeholder="codsucursal" #in_codsucursal="ngModel" [(ngModel)]="crearSucursal.in_codsucursal"
          required id="in_codsucursal" name="in_codsucursal">
        <md-error *ngIf="in_codsucursal.errors.required">
          campo es requerido.
        </md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput type="text" placeholder="direccion" #in_direccion="ngModel" [(ngModel)]="crearSucursal.in_direccion" required
          id="in_direccion" name="in_direccion">
        <md-error *ngIf="in_direccion.errors.required">
          campo es requerido.
        </md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput type="text" placeholder="ciudad" #in_ciudad="ngModel" [(ngModel)]="crearSucursal.in_ciudad" required id="in_ciudad"
          name="in_ciudad">
        <md-error *ngIf="in_ciudad.errors.required">
          campo es requerido.
        </md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput type="text" placeholder="departamento" #in_departamento="ngModel" [(ngModel)]="crearSucursal.in_departamento"
          required id="in_departamento" name="in_departamento">
        <md-error *ngIf="in_departamento.errors.required">
          campo es requerido.
        </md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput type="text" placeholder="pais" #in_pais="ngModel" [(ngModel)]="crearSucursal.in_pais" required id="in_pais"
          name="in_pais">
        <md-error *ngIf="in_pais.errors.required">
          campo es requerido.
        </md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput type="text" placeholder="codigopostal" #in_codigopostal="ngModel" [(ngModel)]="crearSucursal.in_codigopostal"
          required id="in_codigopostal" name="in_codigopostal">
        <md-error *ngIf="in_codigopostal.errors.required">
          campo es requerido.
        </md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput type="text" placeholder="telefono" #in_telefono="ngModel" [(ngModel)]="crearSucursal.in_telefono" required
          id="in_telefono" name="in_telefono">
        <md-error *ngIf="in_telefono.errors.required">
          campo es requerido.
        </md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput type="text" placeholder="coordenadas" #in_coordenadas="ngModel" [(ngModel)]="crearSucursal.in_coordenadas"
          required id="in_coordenadas" name="in_coordenadas">
        <md-error *ngIf="in_coordenadas.errors.required">
          campo es requerido.
        </md-error>
      </md-input-container>
    </md-card-content>

    <md-card-actions>
      <button md-button (click)="newSucursal()">Crear</button>
      <button md-button>Borrar</button>
    </md-card-actions>
  </form>
</md-card>

