<md-card>

  <md-card-title>Nueva Sucursal</md-card-title>
  <md-card-subtitle>Crear Sucursal</md-card-subtitle>

  <md-card-content>
    <md-input-container>
      <input mdInput type="text" placeholder="codsucursal" name="codsucursal" id="in_codsucursal" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="direccion" name="direccion" id="in_direccion" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="ciudad" name="ciudad" id="in_ciudad" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="departamento" name="departamento" id="in_departamento" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="pais" name="pais" id="in_pais" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="codigopostal" name="codigopostal" id="in_codigopostal" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="telefono" name="telefono" id="in_telefono" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="coordenadas" name="coordenadas" id="in_coordenadas" value="" >
    </md-input-container>
  </md-card-content>

  <md-card-actions>
    <button md-button>Crear</button>
    <button md-button>Borrar</button>
  </md-card-actions>

</md-card>
