<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Agregar requerimiento plaza">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="requerimientosPlaza.CODREQUERIMIENTOPLAZA" name="codrequerimientoplaza" #codrequerimientoplaza="ngModel" placeholder="Código requerimiento plaza (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <p>
    <md-form-field class="full-width">
      <input mdInput required [(ngModel)]="requerimientosPlaza.CODPERFILPLAZA" name="codperfilplaza" #codperfilplaza="ngModel" placeholder="Código perfil plaza"/>
    </md-form-field>
  </p>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="requerimientosPlaza.NOMBREREQUERIMIENTO" name="nombrerequerimiento" #nombrerequerimiento="ngModel" placeholder="Nombre requerimiento">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="requerimientosPlaza.DESCRIPCIONREQUERIMIENTO" name="descripcionrequerimiento" #descripcionrequerimiento="ngModel" placeholder="Descripción requerimiento">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearRequerimientoPlaza(requerimientosPlaza)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarRequerimientoPlaza()" ><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>
