<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nueva Evaluacion Candidato">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="evaluacionCandidato.CODEVALUACION" name="codevaluacion" #codevaluacion="ngModel" placeholder="Codigo evaluacion (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="evaluacionCandidato.NOMBREEVALUACION" name="nombreevaluacion" #nombreevaluacion="ngModel" placeholder="Nombre Evaluacion">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="evaluacionCandidato.NOMBREEVALUACION" name="nombreevaluacion" #nombreevaluacion="ngModel" placeholder="Nombre Evaluacion">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="evaluacionCandidato.NOMBREEVALUACION" name="nombreevaluacion" #nombreevaluacion="ngModel" placeholder="Nombre Evaluacion">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="evaluacionCandidato.ESTADOEVALUACION" name="estadoevaluacion" #estadoevaluacion="ngModel" placeholder="Estado Evaluacion">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="evaluacionCandidato.DESCRIPCIONEVALUACION" name="descripcionevaluacion" #descripcionevaluacion="ngModel" placeholder="Estado Evaluacion">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="evaluacionCandidato.DESCRIPCIONEVALUACION" name="descripcionevaluacion" #descripcionevaluacion="ngModel" placeholder="Estado Evaluacion">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="evaluacionCandidato.PUNTUACIONREQUERIDA" name="puntuacionrequerida" #puntuacionrequerida="ngModel" placeholder="Puntuacion Requerida">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="evaluacionCandidato.PUNTUACIONMAXIMA" name="puntuacionmaxima" #puntuacionmaxima="ngModel" placeholder="Puntuacion Maxima">
        </md-form-field>
      </td>
    </tr>
  </table>


  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearEvaluacionCandidato(evaluacionCandidato)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarEvaluacionCandidato()" ><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>
