<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nuevo Adelanto empleado">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="adelantoEmpleado.codadelanto" name="codadelanto" #codadelanto="ngModel" placeholder="Codigo adelanto (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="adelantoEmpleado.fechaadelanto" name="fechaadelanto" #fechaadelanto="ngModel" placeholder="fecha adelanto">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="adelantoEmpleado.montoadelanto" name="montoadelanto" #montoadelanto="ngModel" placeholder="Monto adelanto">
          </md-form-field>
        </td>
      </tr>
    </table>
    <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <md-form-field class="full-width">
              <input mdInput [(ngModel)]="adelantoEmpleado.estadoadelanto" name="estadoadelanto" #estadoadelanto="ngModel" placeholder="Estado adelanto">
            </md-form-field>
          </td>
        </tr>
      </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearAdelantoEmpleado(adelantoEmpleado)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarAdelantoEmpleado()" ><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>
