<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Agregar configuración de RENTA">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="confrenta.codrenta" name="codrenta" #codrenta="ngModel" placeholder="Código conf renta (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <p>
    <md-form-field class="full-width">
      <input mdInput required [(ngModel)]="confrenta.montodesde" name="montodesde" #montodesde="ngModel" placeholder="Desde"/>
    </md-form-field>
  </p>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="confrenta.montohasta" name="montohasta" #montohasta="ngModel" placeholder="Hasta">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="confrenta.porcentajeaplicar" name="porcenteaplicar" #porcentajeaplicar="ngModel" placeholder="Porcentaje a aplicar">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="confrenta.sobreexcendetede" name="sobreexcedentede" #sobreexcedentede="ngModel" placeholder="Sobre excendete de">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="confrenta.mascuotafijade" name="mascuotafijade" #mascuotafijade="ngModel" placeholder="Más cuota fija de">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="confrenta.tipoperiodo" name="tipoperiodo" #montohasta="ngModel" placeholder="Tipo de periodo">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearconfRenta(confrenta)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarconfRenta()" ><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>
