<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nuevo empleado">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.codempleado" name="codempleado" #codempleado="ngModel" placeholder="Codigo empleado (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.codjefe" name="codjefe" #codjefe="ngModel" placeholder="Codigo Jefe (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.coddepartamento" name="coddepartamento" #coddepartamento="ngModel"
            placeholder="Codigo departamento">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.codsucursal" name="codsucursal" #codsucursal="ngModel" placeholder="Codigo sucursal">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.tituloempleado" name="tituloempleado" #tituloempleado="ngModel" placeholder="Titulo de empleado">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.nombre1" name="nombre1" #nombre1="ngModel" placeholder="Primer Nombre">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.nombre2" name="nombre2" #nombre2="ngModel" placeholder="Segundo Nombre">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.apellido1" name="apellido1" #apellido1="ngModel" placeholder="Primer Apellido">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.apellido2" name="apellido2" #apellido2="ngModel" placeholder="Segundo Apellido">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.tipodocumentoident" name="tipodocumentoident" #tipodocumentoident="ngModel"
            placeholder="tipodocumentoident">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.documentoidentidad" name="documentoidentidad" #documentoidentidad="ngModel"
            placeholder="Documeto Identidad">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.nitempleado" name="nitempleado" #nitempleado="ngModel" placeholder="NIT empleado">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.isssempleado" name="isssempleado" #isssempleado="ngModel" placeholder="ISSS">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.nupempleado" name="nupempleado" #nupempleado="ngModel" placeholder="NUP">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="empleado.nombreafp" name="nombreafp" #nombreafp="ngModel" placeholder="Nombre AFP">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="empleado.numerocuentabanco" name="numerocuentabanco" #numerocuentabanco="ngModel" placeholder="N de cuenta banco">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="empleado.nombrebanco" name="nombrebanco" #nombrebanco="ngModel" placeholder="Nombre de Banco">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="empleado.puesto" name="puesto" #puesto="ngModel" placeholder="Puesto">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="empleado.tiempotrabajo" name="tiempotrabajo" #tiempotrabajo="ngModel" placeholder="Tiempo de trabajo">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="empleado.sueldobase" name="sueldobase" #sueldobase="ngModel" placeholder="Tiempo de trabajo">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="empleado.tiempopago" name="tiempopago" #tiempopago="ngModel" placeholder="Tiempo de trabajo">
        </md-form-field>
      </td>
    </tr>
  </table>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearEmpleado(empleado)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarEmpleado()"><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>

