<md-sidenav-container fullscreen>
    <md-sidenav #start>
        <md-nav-list>
            <a md-list-item >Dashboard</a>
            <a md-list-item >Heroes</a>
        </md-nav-list>
        <hr>
        <button md-button (click)="start.close()">CLOSE</button>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="start.open()">
            <md-icon>menu</md-icon>
        </button> {{ title }}
    </md-toolbar>
    <div class="main-content">
        <app-crear-sucursal></app-crear-sucursal>
        <br>
        <app-crear-departamento></app-crear-departamento>
        <br>
        <app-crear-empleado></app-crear-empleado>
    </div>
</md-sidenav-container>


