<md-card>

  <md-card-title>Nuevo Departamento</md-card-title>
  <md-card-subtitle>Crear Departamento.</md-card-subtitle>

  <md-card-content>
    <md-input-container>
      <input mdInput type="text" placeholder="codsucursal" name="codsucursal" id="in_codsucursal" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="coddepartamento" name="coddepartamento" id="in_coddepartamento" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="nombredepartamento" name="nombredepartamento" id="in_nombredepartamento" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="number" placeholder="numplazas" name="numplazas" id="in_numplazas" value="" >
    </md-input-container>
  </md-card-content>

  <md-card-actions>
    <button md-button>Crear</button>
    <button md-button>Borrar</button>
  </md-card-actions>

</md-card>
