<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nueva Sucursal">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.in_codsucursal" name="in_codsucursal" #in_codsucursal="ngModel" placeholder="Codigo Sucursal (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <p>
    <md-form-field class="full-width">
      <input mdInput required [(ngModel)]="sucursal.in_direccion" name="in_direccion" #in_direccion="ngModel" placeholder="Direccion"/>
    </md-form-field>
  </p>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.in_ciudad" name="in_ciudad" #in_ciudad="ngModel" placeholder="Ciudad">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.in_departamento" name="in_departamento" #in_departamento="ngModel" placeholder="Departamento">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.in_pais" name="in_pais" #in_pais="ngModel" placeholder="Pais">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="sucursal.in_codigopostal" name="in_codigopostal" #in_codigopostal="ngModel" placeholder="Codigo Postal">
          </md-form-field>
        </td>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="sucursal.in_telefono" name="in_telefono" #in_telefono="ngModel" placeholder="Telefono">
          </md-form-field>
        </td>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="sucursal.in_coordenadas" name="in_coordenadas" #in_coordenadas="ngModel" placeholder="Coordenadas">
          </md-form-field>
        </td>
      </tr>
    </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearSucursal(sucursal)"><md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarSucursal()"><md-icon>clear</md-icon> Borrar </button>
      </td>
    </tr>
  </table>
</form>
