<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nueva Sucursal">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.codsucursal" name="in_codsucursal" #codsucursal="ngModel" placeholder="Codigo Sucursal (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <p>
    <md-form-field class="full-width">
      <input mdInput required [(ngModel)]="sucursal.direccion" name="in_direccion" #direccion="ngModel" placeholder="Direccion"/>
    </md-form-field>
  </p>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.ciudad" name="in_ciudad" #ciudad="ngModel" placeholder="Ciudad">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.departamento" name="in_departamento" #departamento="ngModel" placeholder="Departamento">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.pais" name="in_pais" #pais="ngModel" placeholder="Pais">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="sucursal.codigopostal" name="in_codigopostal" #codigopostal="ngModel" placeholder="Codigo Postal">
          </md-form-field>
        </td>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="sucursal.telefono" name="in_telefono" #telefono="ngModel" placeholder="Telefono">
          </md-form-field>
        </td>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="sucursal.coordenadas" name="in_coordenadas" #coordenadas="ngModel" placeholder="Coordenadas">
          </md-form-field>
        </td>
      </tr>
    </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearSucursal(sucursal)"><md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarSucursal()"><md-icon>clear</md-icon> Borrar </button>
      </td>
    </tr>
  </table>
</form>
