<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nueva Sucursal">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.CODSUCURSAL" name="codsucursal" #codsucursal="ngModel" placeholder="Codigo Sucursal (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <p>
    <md-form-field class="full-width">
      <input mdInput required [(ngModel)]="sucursal.DIRECCION" name="direccion" #direccion="ngModel" placeholder="Direccion"/>
    </md-form-field>
  </p>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.CIUDAD" name="ciudad" #ciudad="ngModel" placeholder="Ciudad">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.DEPARTAMENTO" name="departamento" #departamento="ngModel" placeholder="Departamento">
        </md-form-field>
      </td>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="sucursal.PAIS" name="pais" #pais="ngModel" placeholder="Pais">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="sucursal.CODIGOPOSTAL" name="codigopostal" #codigopostal="ngModel" placeholder="Codigo Postal">
          </md-form-field>
        </td>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="sucursal.TELEFONO" name="telefono" #telefono="ngModel" placeholder="Telefono">
          </md-form-field>
        </td>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="sucursal.COORDENADAS" name="coordenadas" #coordenadas="ngModel" placeholder="Coordenadas">
          </md-form-field>
        </td>
      </tr>
    </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearSucursal(sucursal)"><md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarSucursal()"><md-icon>clear</md-icon> Borrar </button>
      </td>
    </tr>
  </table>
</form>
