<form class="form">
  <md-form-field class="full-width">
    <input mdInput placeholder="" disabled value="Nuevo Catalogo Planilla">
  </md-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="catalogoplanilla.codcatplanilla" name="codcatplanilla" #codcatplanilla="ngModel" placeholder="Codigo catalogo planilla (TODO: usar las Secuencias)">
        </md-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput required [(ngModel)]="catalogoplanilla.nomcatplanilla" name="nomcatplanilla" #nomcatplanilla="ngModel" placeholder="Nombre Catalogo Planilla">
        </md-form-field>
      </td>

    </tr>
  </table>

  <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-form-field class="full-width">
            <input mdInput [(ngModel)]="catalogoplanilla.tipocatplanilla" name="tipocatplanilla" #tipocatplanilla="ngModel" placeholder="Tipo Catalogo Planilla">
          </md-form-field>
        </td>
      </tr>
    </table>
    <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <md-form-field class="full-width">
              <input mdInput [(ngModel)]="catalogoplanilla.dtllecatplanilla" name="dtllecatplanilla" #dtllecatplanilla="ngModel" placeholder="Detalle planilla">
            </md-form-field>
          </td>
        </tr>
      </table>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <button md-button (click)="crearCatalogoPlanilla(catalogoplanilla)"> <md-icon>save</md-icon>Guardar</button>
      </td>
      <td>
        <button md-button (click)="limpiarCatalogoPlanilla()" ><md-icon>clear</md-icon>Borrar</button>
      </td>
    </tr>
  </table>
</form>
