<md-toolbar class='toolbar' color="primary">
  <button md-button (click)='dash.toggle();'><md-icon>dashboard</md-icon></button>

  <span>RHNODE</span>
  <span class="spacer"></span>
  <button md-button [mdMenuTriggerFor]="menu"><md-icon>menu</md-icon></button>

</md-toolbar>
<md-menu #menu="mdMenu">


</md-menu>

<md-sidenav #dash mode="push">
  <md-toolbar class='toolbar' color="primary">
    <button md-button (click)='dash.toggle();'><md-icon>dashboard</md-icon> Menu</button>
    <span>RHNODE</span>
    <span class="spacer"></span>

  </md-toolbar>


  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Sucursales
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='sucursales/agregar'> Nueva </button>
    <button md-menu-item routerLink='sucursales/buscar'> Buscar </button>
    <button md-menu-item routerLink='sucursales/modificar'> Editar </button>
    <button md-menu-item routerLink='sucursales/eliminar'> Eliminar </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Departamentos
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='departamentos/agregar'> Agregar Departamento </button>
    <button md-menu-item routerLink='departamentos/buscar'> Buscar Departamento </button>
    <button md-menu-item routerLink='departamentos/modificar'> Editar Departamento </button>
    <button md-menu-item routerLink='departamentos/eliminar'> Eliminar Departamento </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Agenda de Empleado
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='agendaempleado/agregar'> Crear Agenda </button>
    <button md-menu-item routerLink='agendaempleado/buscar'> Buscar Agenda </button>
    <button md-menu-item routerLink='agendaempleado/modificar'> Cambiar Agenda </button>
    <button md-menu-item routerLink='agendaempleado/eliminar'> Borrar Agenda </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Adelanto Salarial
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='adelantosempleados/agregar'> Crear ADS </button>
    <button md-menu-item routerLink='adelantosempleados/buscar'> Buscar ADS </button>
    <button md-menu-item routerLink='adelantosempleados/modificar'> Modificar ADS </button>
    <button md-menu-item routerLink='adelantosempleados/eliminar'> Borrar ADS </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Asistencia Empleado
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='asistenciaempleado/agregar'> Marcar Asistencia </button>
    <button md-menu-item routerLink='asistenciaempleado/buscar'> Buscar Asistencias </button>
    <button md-menu-item routerLink='asistenciaempleado/modificar'> Actualizar Asistencias </button>
    <button md-menu-item routerLink='asistenciaempleado/eliminar'> Eliminar Asistencias </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Candidatos
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='candidatos/agregar'> Nuevo Candidatos </button>
    <button md-menu-item routerLink='candidatos/buscar'> Buscar Candidatos </button>
    <button md-menu-item routerLink='candidatos/modificar'> Editar Candidatos </button>
    <button md-menu-item routerLink='candidatos/eliminar'> Eliminar Candidatos </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Evaluaciones de candidatos
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='candidatosevaluaciones/agregar'> Asignar Evaluacion a Candidato </button>
    <button md-menu-item routerLink='candidatosevaluaciones/buscar'> Buscar Evaluacion de Candidato </button>
    <button md-menu-item routerLink='candidatosevaluaciones/modificar'> Revisar Evaluacion de Candidato </button>
    <button md-menu-item routerLink='candidatosevaluaciones/eliminar'> Borrar Evaluacion de Candidato </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Catalogo de Planilla
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='catalogoplanilla/agregar'> Crear Catalogo Planilla </button>
    <button md-menu-item routerLink='catalogoplanilla/buscar'> Buscar Catalog Planilla </button>
    <button md-menu-item routerLink='catalogoplanilla/modificar'> Editar Catalog Planilla </button>
    <button md-menu-item routerLink='catalogoplanilla/eliminar'> Eliminar Catalog Planilla </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Renta
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='confrenta/agregar'> Crar Configuracion de Renta. </button>
    <button md-menu-item routerLink='confrenta/buscar'> Ver Configuracion de renta. </button>
    <button md-menu-item routerLink='confrenta/modificar'> Editar configuracion de renta </button>
    <button md-menu-item routerLink='confrenta/eliminar'> Eliminar Configuracion de renta. </button>
  </md-expansion-panel>

  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Descuentos Automaticos
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='descuentosautomaticos/agregar'> Nuevo Descuento </button>
    <button md-menu-item routerLink='descuentosautomaticos/buscar'> Buscar Descuentos </button>
    <button md-menu-item routerLink='descuentosautomaticos/modificar'> Editar Descuento </button>
    <button md-menu-item routerLink='descuentosautomaticos/eliminar'> Eliminar Descuento </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Empleados
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='empleados/agregar'> #### </button>
    <button md-menu-item routerLink='empleados/buscar'> #### </button>
    <button md-menu-item routerLink='empleados/modificar'> #### </button>
    <button md-menu-item routerLink='empleados/eliminar'> #### </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Crear Evaluacion
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='evaluacionescandidatos/agregar'> #### </button>
    <button md-menu-item routerLink='evaluacionescandidatos/buscar'> #### </button>
    <button md-menu-item routerLink='evaluacionescandidatos/modificar'> #### </button>
    <button md-menu-item routerLink='evaluacionescandidatos/eliminar'> #### </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Funciones Plaza
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='funcionesplaza/agregar'> #### </button>
    <button md-menu-item routerLink='funcionesplaza/buscar'> #### </button>
    <button md-menu-item routerLink='funcionesplaza/modificar'> #### </button>
    <button md-menu-item routerLink='funcionesplaza/eliminar'> #### </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Perfil Plaza
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='perfilplaza/agregar'> #### </button>
    <button md-menu-item routerLink='perfilplaza/buscar'> #### </button>
    <button md-menu-item routerLink='perfilplaza/modificar'> #### </button>
    <button md-menu-item routerLink='perfilplaza/eliminar'> #### </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Planillas
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='planilla/agregar'> #### </button>
    <button md-menu-item routerLink='planilla/buscar'> #### </button>
    <button md-menu-item routerLink='planilla/modificar'> #### </button>
    <button md-menu-item routerLink='planilla/eliminar'> #### </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Planilla Empleado (boleta de Pagos)
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='planillaempleado/agregar'> #### </button>
    <button md-menu-item routerLink='planillaempleado/buscar'> #### </button>
    <button md-menu-item routerLink='planillaempleado/modificar'> #### </button>
    <button md-menu-item routerLink='planillaempleado/eliminar'> #### </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Requerimientos Plaza
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='requerimientosplaza/agregar'> #### </button>
    <button md-menu-item routerLink='requerimientosplaza/buscar'> #### </button>
    <button md-menu-item routerLink='requerimientosplaza/modificar'> #### </button>
    <button md-menu-item routerLink='requerimientosplaza/eliminar'> #### </button>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Usuarios
      </md-panel-title>
    </md-expansion-panel-header>
    <button md-menu-item routerLink='usuarios/agregar'> #### </button>
    <button md-menu-item routerLink='usuarios/buscar'> #### </button>
    <button md-menu-item routerLink='usuarios/modificar'> #### </button>
    <button md-menu-item routerLink='usuarios/eliminar'> #### </button>
  </md-expansion-panel>

</md-sidenav>
