<md-card>

  <md-card-title>Nuevo Empleado</md-card-title>
  <md-card-subtitle>Crear Empleado.</md-card-subtitle>

  <md-card-content>
    <md-input-container>
      <input mdInput type="text" placeholder="codsucursal" name="in_codsucursal" id="in_codsucursal" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="coddepartamento" name="in_coddepartamento" id="in_coddepartamento" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="codempleado" name="in_codempleado" id="in_codempleado" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="codjefe" name="in_codjefe" id="in_codjefe" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="tituloempleado" name="in_tituloempleado" id="in_tituloempleado" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="nombre1" name="in_nombre1" id="in_nombre1" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="nombre2" name="in_nombre2" id="in_nombre2" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="apellido1" name="in_apellido1" id="in_apellido1" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="apellido2" name="in_apellido2" id="in_apellido2" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="date" placeholder="fechanacimiento" name="in_fechanacimiento" id="in_fechanacimiento" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="generoempleado" name="in_generoempleado" id="in_generoempleado" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="estadocivil" name="in_estadocivil" id="in_estadocivil" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="documentoidentidad" name="in_documentoidentidad" id="in_documentoidentidad" value="" >
    </md-input-container><md-input-container>
      <input mdInput type="text" placeholder="tipodocumentoident" name="in_tipodocumentoident" id="in_tipodocumentoident" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="nitempleado" name="in_nitempleado" id="in_nitempleado" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="isssempleado" name="in_isssempleado" id="in_isssempleado" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="nupempleado" name="in_nupempleado" id="in_nupempleado" value="" >
    </md-input-container><md-input-container>
      <input mdInput type="text" placeholder="nombreafp" name="in_nombreafp" id="in_nombreafp" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="numerocuentabanco" name="in_numerocuentabanco" id="in_numerocuentabanco" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="nombrebanco" name="in_nombrebanco" id="in_nombrebanco" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="puesto" name="in_puesto" id="in_puesto" value="" >
    </md-input-container><md-input-container>
      <input mdInput type="text" placeholder="tiempotrabajo" name="in_tiempotrabajo" id="in_tiempotrabajo" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="sueldobase" name="in_sueldobase" id="in_sueldobase" value="" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="tiempopago" name="in_tiempopago" id="in_tiempopago" value="" >
    </md-input-container>
  </md-card-content>

  <md-card-actions>
    <button md-button>Crear</button>
    <button md-button>Borrar</button>
  </md-card-actions>

</md-card>
